@page "/controls"

<PageTitle>Controles</PageTitle>
<h1>Componentes propios</h1>
<h2>Tags</h2>

<div class="mb-3">
    <label for="departamentos" class="form-label">Departamentos</label>
    <InputTagger Id="departamentos" Placeholder="Departamento" ValueChanged="OnDepartamentoChange"></InputTagger>
</div>

<div class="mb-3">
    <label for="ciudades" class="form-label">Ciudades</label>
    <InputTagger Id="ciudades" Placeholder="Ciudad" @bind-Value="ciudades"></InputTagger>
</div>

<h3>Tags seleccionados</h3>
<div><strong>Departamentos:</strong> @departamentos</div>
<div><strong>Ciudades:</strong> @ciudades</div><div></div>

<p>@mensaje</p>


@code {
    private string? departamentos;
    private string? ciudades;
    private string? mensaje;

    /*
    private record Person(int PersonId, string Name, DateOnly PromotionDate);

    private IQueryable<Person> people = new[]
    {
        new Person(10895, "Jean Martin", new DateOnly(1985, 3, 16)),
        new Person(10944, "António Langa", new DateOnly(1991, 12, 1)),
        new Person(11203, "Julie Smith", new DateOnly(1958, 10, 10)),
        new Person(11205, "Nur Sari", new DateOnly(1922, 4, 27)),
        new Person(11898, "Jose Hernandez", new DateOnly(2011, 5, 3)),
        new Person(12130, "Kenji Sato", new DateOnly(2004, 1, 9)),
    }.AsQueryable();
    */

    private void OnDepartamentoChange(string value)
    {
        departamentos = value;
        mensaje = $"El componente Departamento se actualizó con un texto de largo {value.Length}";
    }
}