tags.it-tags-container {
    display: inline;
}

input.it-noborder {
    border: none;
    width: 60px;
    outline: none;
    padding: 0;
}

    input.it-noborder:focus {
        outline: none;
    }

span.it-noborder.it-hidden {
    visibility: hidden;
    white-space: pre;
}

tag.it-tag {
    margin: 0 .25rem .25rem 0;
    display: inline-flex;
    height: 2em;
    align-items: center;
    transition: opacity 0.3s;
}

.it-tag:hover {
    opacity: 0.8;
}

x.it-tag-remove {
    transition: .2s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    margin: 0 -0.25rem 0 .25rem;
    overflow: hidden;
    cursor: pointer;
    font-size: 1.25em;
}

    x.it-tag-remove:hover {
        background-color: rgba(255, 0, 0, .8);
    }

    x.it-tag-remove::after {
        content: "×";
    }
